$mainColor:  #3b5998;

body {
  font-family: 'Roboto', sans-serif;
}

* {box-sizing: border-box}

.container {
  padding: 16px;
}

.login-form {
  width: 340px;
  margin: 50px auto;
}

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.buttonCustom {
  background-color: $mainColor;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}